.div {
    margin-left: 80px;
}

.text {
    color: #000;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.weekly {
    background-color: firebrick;
    margin: 15px;
    border-radius: 15px;
}

.breakdown {
    background-color: aqua;
    margin: 15px;
    border-radius: 15px;
}

.income {
    background-color: yellow;
    margin: 15px;
    border-radius: 15px;
}

.investments {
    background-color: seagreen;
    margin: 15px;
    border-radius: 15px;
}