.div {
  margin-left: 80px;
}

.nav {
  height: 100%;
  position: fixed;
  top: 0;
}

.text {
  color: #000;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weekly {
  background-color: #e9d8fd;
  margin: 15px;
  border-radius: 15px;
}

.breakdown {
  background-color: #e9d8fd;
  margin: 15px;
  border-radius: 15px;
}

.income {
  background-color: #e9d8fd;
  margin: 15px;
  border-radius: 15px;
}

.investments {
  background-color: #e9d8fd;
  margin: 15px;
  border-radius: 15px;
}
.investments InvestmentTable {
  border: "none";
}

.pieChart {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}
