.contents {
  color: black;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 64px;
}

.title {
  color: #000;
  padding: 0;
  font-family: 'Vidaloka', serif;
  letter-spacing: 1px;
}

.chartTitle {
  font-family: "Karla", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.chart {
  padding-left: 20px;
  padding-right: 20px;
}

.displayExpendituresTitle {
  font-family: "Karla", sans-serif;
  font-size: 25px;
}
