.contents {
    color: black;
    padding-left: 20mm;
    text-align: center;
  }
  
.title {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.chartTitle {
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.chart {
  padding-left: 20px;
  padding-right: 20px;
}

.displayExpendituresTitle {
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 25px;
}
