.contents {
  color: black;
  padding-left: 20mm;
  text-align: center;
}
.barChart {
  /*bg="rgba(148, 114, 208, 1)"
  w="769px"
  h="400px"
  color="white"
  p={5}
  mt={5}
  ml="20"
  borderRadius="50"*/
  background-color: rgba(148, 114, 208, 1);
  width: 769px;
  height: 400px;
  color: white;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 50px;
}

.title {
  text-align: left;
  padding-left: 10px;
  font-size: 40px;
}
.buttons {
  width: 175px;
  height: 71px;
  border-radius: 40px;
  color: white;
  background-color: #3f2371;
}
