.contents {
  color: #000;
  margin-left: 80px;
  margin-right: 15px;
  margin-top: 64px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.text {
  padding: 0;
  color: #000;
  font-family: 'Vidaloka', serif;
  letter-spacing: 1px;
}

.custom {
  padding: 0.5em;
  font-family: "Karla", sans-serif;
  font-size: 1.15em;
}

.buttons {
  margin: 10px 0;
  align-items: center;
}

.left {
  width: 50%;
  height: 100vh;
}

.data {
  position: relative;
  top: 0;
  right: 0;
  padding-left: 5%;
  padding-top: 5%;
  width: 35%;
}

@media screen and (max-width: 655px) {
  .contents {
    width: inherit;
    margin-right: 15px;
  }

  .info {
    flex-direction: column;
  }

  .left {
    width: 100vh;
  }

  .data {
    width: 100vh;
    margin: 0;
    padding: 0;
    margin-right: 15px;
  }
}