.contents {
  color: #000;
  margin-left: 80px;
  margin-right: 15px;
}

.text {
  padding: 0;
  color: #000;
}

.custom-select select {
  padding: 50px;
}

.buttons {
  background-color: red;
  margin: 10px 0;
  align-items: center;
}

.data {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 5%;
  padding-top: 5%;
  width: 35%;
}
