<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="navbar.css">
    </head>
    <body>
        <nav>
            <h1>HOOLI</h1>
            <ul>
                <li><img src="../assets/icons/home.png"><a href="#">Main</a></li>
                <li><img src="../assets/icons/expense.png"><a href="Expeditures">Expeditures</a></li>
                <li><img src="../assets/icons/income.png"><a href="Income">Income</a></li>
                <li><img src="../assets/icons/investment.png"><a href="Investments">Investments</a></li>
                <li><img src="../assets/icons/forex.png"><a href="Forex">Forex</a></li>
              </ul>
        </nav>
    </body>
</html>