.icons {
    margin-top: 13px;
    height: 25px;
    filter: invert(1);
    display: inline;
    justify-content: center;
}

.nav {
    background-color: #330C7A !important;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    text-align: center;
    position: fixed !important;
    float: left;
}

.text {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
}