.app {
  display: flex;
  justify-content: center;
  height: 100%;
}

.purple-column {
  background-color: #330c7a;
  height: 100vh;
  float: left;
  width: 50%;
}

.yellow-column {
  background-color: rgb(252, 221, 44);
  height: 100vh;
  float: right;
  width: 50%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  color: black;
  padding-top: 35%;
  font-size: 50px;
}

.about {
  color: black;
  font-family: "karla";
  text-align: left;
  padding-left: 15%;
  font-size: 25px;
}

.logo {
  display: block;
  margin-top: 50%;
  margin-bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.nav {
  font-family: "karla";
  text-align: right;
  padding-right: 5px;
  font-size: 25px;
}

.link {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.signup {
  color: black;
  margin-left: 10%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}