.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  width: 50%;
}

.leftCol {
  background-color: #330C7A;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightCol {
  background-color: #fcdd2c;
  height: 100vh;
  width: 50%;
}

.leftCol img {
  position: absolute;
  width: 30%;
  /* top: 0;
  bottom: 0; */
  margin: auto;
  display: block;
}

@media screen and (max-width: 655px) {
  .container {
    flex-direction: column;
  }

  .rightCol {
    width: 100%;
  }

  .rightCol {
    width: 100%;
  }
}



/* .app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.purple-column {
  background-color: #330c7a;
  height: 100vh;
}

.yellow-column {
  background-color: rgb(252, 221, 44);
  height: 100vh;

}

.description {
  margin: 0;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: 0 auto;
}

.description .title  {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 4em;
}

.description .about {
  color: black;
  font-family: "Karla", sans-serif;
  padding: 0 15%;
  margin: 0;
  font-size: 1.5em;
}

.logo {
  display: block;
  margin: 50% auto;
  width: 50%;
}

.nav {
  font-family: "Karla", sans-serif;
  color: black;
  text-align: right;
  margin-right: 15px;
  float: right;
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: black;
}

.signup {
  color: black;
}

@media screen and (max-width: 655px) {
  .app {
    display: grid;
  }

  .purple-column {
    display: flex;
    flex-direction: column;
  }

  .yellow-column {
    display: flex;
    flex-direction: column;
  }
} */