hr {
  border: 2px solid purple;
  margin-top: 5%;
  margin-bottom: 5%;
}

form > div > input[type="text"] {
  width: auto;
}

.field-text {
  font-size: 1em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.required:after {
  content:" *";
  color: rgb(255, 0, 0);
}