.menu {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: larger;
}

.menu select {
  text-align: center;
  font-weight: bold;
  color: white;
  border: 3px solid blueviolet;
  border-radius: 15px;
  background-color: #a587c9;
  height: 2rem;
  width: 8rem;
}
