.list {
  list-style-type: none;
  padding: 0;
}

Table {
  border-collapse: collapse;
  width: 100%;
}

Thead Th {
  border: 1px solid #ddd;
  padding: 8px;
}

Tbody Td {
  border: 1px solid #ddd;
  padding: 8px;
}