.barContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 32%;
  white-space: nowrap;
  background-color: #6d3aa4;
  border-radius: 10px;
}

.selectBar {
  display: flex;
}

.option {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.arrow {
  width: 30px;
  height: 30px;
  background-color: #8b5cf6;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.left {
  background-image: url("left-arrow.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-image: url("./leftArrow.png");
}

.right {
  background-image: url("right-arrow.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-image: url("./rightArrow.png");
}

.option.selectedMonth {
  background-color: #d6bbfc; /* Light purple background */
  color: #8b5cf6; /* Set font color to dark purple */
}
