.app {
  display: flex;
  justify-content: center;
  width: 100%;
}
.purple_column {
  background-color: #330c7a;
  height: 100vh;
  float: left;
  width: 50%;
}

.yellow_column {
  background-color: rgb(252, 221, 44);
  height: 100vh;
  float: right;
  width: 50%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  color: black;
  padding-top: 35%;
  font-size: 50px;
}

.about {
  color: black;
  font-family: "karla";
  text-align: left;
  padding-left: 15%;
  font-size: 25px;
}

.logo {
  align-items: center;
  width: 50%;
}
