.app{
    display: flex;
    justify-content: center;
    width: 100%;
}

.screen{
    align-items: center;
    background: linear-gradient(180deg, rgb(51,12,122)29.34%, rgba(217,217,217,0)100%);
    min-height: 1024px;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    

}